*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1b2843;
}

.app--root{
    margin-left: 200px;
}

.info--root{
    display:block;
    align-items: center;
    margin-left: 30%;
    margin-right: 0px;
    width: 304.2px;
}

.info--picture{
    width: 300px;
    padding-bottom: 0;
    background-color: #0f1115;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

.info--title{
    padding-left: 50px;
    margin: 0;
    color: whitesmoke;
}

.info--name{
    padding-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(190, 163, 128);
}

.info--position{
    padding-left: 50px;
    padding-right: auto;    
    margin: auto;
    width: auto;
    color: whitesmoke;
}

.info--headers {
    background-color: #282D35;
    width: 300px;
}

.info--buttons {
    display:flex;
    padding: 10px;
}

.info--buttons > a, button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    border-radius: 10%;
    border-color: white;
    padding: 4px;
    border-style: none;
}

.info--button1{
    margin-left: 30px;
}

.info--button2{
    margin-left: auto;
    margin-right: 30px;
}

.about--root{
    display: block;
    align-items: center;
    margin-left: 30%;
    width: 300px;
    background-color: #282D35;
    color: white;
}

.about--title{
    margin:0;
    padding-top: 20px;
    margin-left: 20px;
}

.about--text{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 7px;
}

.interests--root{
    display: block;
    align-items: center;
    margin-left: 30%;
    width: 300px;
    background-color: #282D35;
    color: white;
}

.interests--title{
    margin:0;
    padding-top: 20px;
    margin-left: 20px;
}

.interests--text{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 7px;
    padding-bottom: 20px;
}

.footer{
    display: flex;
    align-items: center;
    margin-left: 29.60%;
    margin-top: 0;
    width: 310px;
    height: 45px;
    background-color: #0f1115;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.img1{
    width: 30px;
    margin-left: 70px;
    margin-right: auto;
}

.img2, .img3 {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

.img4{
    width: 30px;
    margin-right: 70px;
    margin-left: auto;
}